.auth-wrapper {
    @apply  min-h-screen h-auto flex-grow
    flex flex-col-reverse md-2:flex-row lg:flex-row xl:flex-row
}

.auth-container {
    @apply flex justify-center relative md-2:self-start
    max-w-[600px] w-full md-2:min-w-[600px] 
    xs:min-h-screen sm:min-h-screen md:min-h-screen md-2:min-h-screen h-auto
}

.brand-container {
    @apply relative inline 
}

.brand-image{
    @apply block min-w-full -z-10  object-cover 
    sm:max-h-[300px] sm:min-h-[300px] md-2:min-h-screen md-2:max-h-screen
}

.brand-logo-container {
    @apply absolute inset-0 w-2/3 h-full text-white flex m-auto max-w-md
}

.brand-logo{
    @apply bg-transparent text-white relative m-auto top-1/2 -translate-y-1/2
    xs:w-36 xs:h-36 sm:w-36 sm:h-36 max-w-md md:w-auto md:h-auto lg:w-auto lg:h-auto xl:w-2/3 xl:h-auto 
}

.landing-nav-container{
    @apply flex flex-row flex-wrap p-1 justify-center
}